*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header-main{
    background: url("./assets/images/homepage/sea-pula.webp");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-main__h1{
   position: relative;
   top: 65%;
   left: 55%;
   color: white;
   font-size: 4em;
}